.rules{
  background-image:url("https://img.freepik.com/free-vector/forest-landscape-scene-day-time-with-many-different-trees_1308-59769.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}